/*
 * Stylesheet for AlbinoMouse Options
 */

#optionsframework-metabox {
	margin-right:300px;
}
#optionsframework {
	float:left;
	width:100%;
}
#optionsframework-sidebar {
	float: right;
	width: 280px;
}
#optionsframework-sidebar .metabox-holder {
	padding-top:0;
}